.not-found {

  .main {
    margin-top: 1.25rem;
    text-align: center;

    .img-box {
      width: 1.38rem;
      height: 1.9rem;
      margin-left:31.5%;
    }
    .titles{
      font-size: 18px;
      margin:10px;
    }
    .tips{
      font-size:12px;
      color: #9a9a9a;
    }
    a{
      font-size:16px;
      color:#46a68f;
    }

  }
}